
:root.light {
	--c-bg: #fff;
	--c-scrollbar: #eee;
	--c-scrollbar-hover: #bbb;
	--c-text-title: rgba(0, 0, 0, 0.88);
	--c-text-primary: rgba(0, 0, 0, 0.78);
	--c-text-secondary: rgba(0, 0, 0, 0.68);
	--c-text-tertiary: rgba(0, 0, 0, 0.48);
	--c-code-del-text: #845163;
	--c-code-del-bg: #D793AD;
	--c-code-del-border: #C25A82;
	--c-code-ins-text: #3E7646;
	--c-code-ins-bg: #74ad76;
	--c-code-ins-border: #559056;
	--c-code-mark-bg: #91A7E4;
	--c-code-mark-border: #6584DA;
}

:root.dark {
	--c-bg: #050505;
	--c-scrollbar: #111;
	--c-scrollbar-hover: #222;
	--c-text-title: rgba(255, 255, 255, 0.88);
	--c-text-primary: rgba(255, 255, 255, 0.78);
	--c-text-secondary: rgba(255, 255, 255, 0.68);
	--c-text-tertiary: rgba(255, 255, 255, 0.48);
	--c-code-del-text: #bb909f;
	--c-code-del-bg: #471a2b;
	--c-code-del-border: #D793AD;
	--c-code-ins-text: #69b072;
	--c-code-ins-bg: #1f3820;
	--c-code-ins-border: #388a43;
	--c-code-mark-bg: #192e66;
	--c-code-mark-border: #445da7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-bg: #050505;
		--c-scrollbar: #111;
		--c-scrollbar-hover: #222;
		--c-text-title: rgba(255, 255, 255, 0.88);
		--c-text-primary: rgba(255, 255, 255, 0.78);
		--c-text-secondary: rgba(255, 255, 255, 0.68);
		--c-text-tertiary: rgba(255, 255, 255, 0.48);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--c-bg: #fff;
		--c-scrollbar: #eee;
		--c-scrollbar-hover: #bbb;
		--c-text-title: rgba(0, 0, 0, 0.88);
		--c-text-primary: rgba(0, 0, 0, 0.78);
		--c-text-secondary: rgba(0, 0, 0, 0.68);
		--c-text-tertiary: rgba(0, 0, 0, 0.48);
	}
}


html {
  background-color: var(--c-bg);
	color: var(--c-text-secondary);
}

.text-title {
	color: var(--c-text-title);
}

.text-primary {
	color: var(--c-text-primary);
}

.text-secondary {
	color: var(--c-text-secondary);
}

.text-tertiary {
	color: var(--c-text-tertiary);
}


* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}