
:root.light {
	--c-bg: #fff;
	--c-bg-2: #e9e9e9;
	--c-scrollbar: #eee;
	--c-scrollbar-hover: #bbb;
	--c-text-title: rgba(0, 0, 0, 0.88);
	--c-text-primary: rgba(0, 0, 0, 0.78);
	--c-text-secondary: rgba(0, 0, 0, 0.68);
	--c-text-tertiary: rgba(0, 0, 0, 0.48);
	--c-code-del-text: #845163;
	--c-code-del-bg: #D793AD;
	--c-code-del-border: #C25A82;
	--c-code-ins-text: #3E7646;
	--c-code-ins-bg: #74ad76;
	--c-code-ins-border: #559056;
	--c-code-mark-bg: #91A7E4;
	--c-code-mark-border: #6584DA;
}

:root.dark {
	--c-bg: #050505;
	--c-bg-2: #202020;
	--c-scrollbar: #111;
	--c-scrollbar-hover: #222;
	--c-text-title: rgba(255, 255, 255, 0.88);
	--c-text-primary: rgba(255, 255, 255, 0.78);
	--c-text-secondary: rgba(255, 255, 255, 0.68);
	--c-text-tertiary: rgba(255, 255, 255, 0.48);
	--c-code-del-text: #bb909f;
	--c-code-del-bg: #471a2b;
	--c-code-del-border: #D793AD;
	--c-code-ins-text: #69b072;
	--c-code-ins-bg: #1f3820;
	--c-code-ins-border: #388a43;
	--c-code-mark-bg: #192e66;
	--c-code-mark-border: #445da7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-bg: #050505;
		--c-scrollbar: #111;
		--c-scrollbar-hover: #222;
		--c-text-title: rgba(255, 255, 255, 0.88);
		--c-text-primary: rgba(255, 255, 255, 0.78);
		--c-text-secondary: rgba(255, 255, 255, 0.68);
		--c-text-tertiary: rgba(255, 255, 255, 0.48);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--c-bg: #fff;
		--c-scrollbar: #eee;
		--c-scrollbar-hover: #bbb;
		--c-text-title: rgba(0, 0, 0, 0.88);
		--c-text-primary: rgba(0, 0, 0, 0.78);
		--c-text-secondary: rgba(0, 0, 0, 0.68);
		--c-text-tertiary: rgba(0, 0, 0, 0.48);
	}
}


html {
  background-color: var(--c-bg);
	color: var(--c-text-secondary);
}

.text-title {
	color: var(--c-text-title);
}

.text-primary {
	color: var(--c-text-primary);
}

.text-secondary {
	color: var(--c-text-secondary);
}

.text-tertiary {
	color: var(--c-text-tertiary);
}


* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

/*  animation refer https://antfu.me/posts/sliding-enter-animation  */
@media (prefers-reduced-motion:no-preference) {
  .slide-enter-content > * {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
  .slide-enter-content > *:nth-child(18) { --enter-stage: 18; }
  .slide-enter-content > *:nth-child(19) { --enter-stage: 19; }
  .slide-enter-content > *:nth-child(20) { --enter-stage: 20; }
}