---
import { REDIRECT_INFO_LIST } from '../consts';

export async function getStaticPaths() {
  return REDIRECT_INFO_LIST.map(({ path, redirect }) => {
    return {
			params: {
				redirect: path,
			},
			props: {
        redirect,
      }
		}
  })
}

type Props = {
  redirect: string
};
const site = Astro.site;
const { redirect } = Astro.props;

const url = new URL(redirect, site).toString();
---
<!DOCTYPE html>
<html lang="en-US">
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href={url}>
  <meta http-equiv="refresh" content={`0; url=${url}`}>
  <meta name="robots" content="noindex">
  <h1>Redirecting&hellip;</h1>
  <a href={url}>Click here if you are not redirected.</a>
</html>