---
import { SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';
import BlogPostList from '../components/BlogPostList.astro';
import BlogBase from '../layouts/BlogBase.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<BlogBase title={SITE_TITLE}>
	<main>
		<section>
			<BlogPostList posts={posts} />
		</section>
	</main>
</BlogBase>
