---
import { SITE_TITLE } from '../consts';
import BlogPostList from '../components/BlogPostList.astro';
import BlogBase from '../layouts/BlogBase.astro';
import { getBlogUsablePost } from '../utils';

const posts = await getBlogUsablePost();
---
<BlogBase title={SITE_TITLE}>
	<section>
		<BlogPostList posts={posts} />
	</section>
</BlogBase>
