---
import type { CollectionEntry } from 'astro:content';
import { simpleCalcReadingTime } from '../utils';
import BlogLink from './BlogLink.astro';
import FormattedDate from './FormattedDate.astro';

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props;

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>
<ul>
  {
    posts.map((post) => (
      <li>
        <span class="block min-w-10rem">
          <FormattedDate date={post.data.pubDate} />
          . <span class="text-secondary">{simpleCalcReadingTime(post.body)}</span>
        </span>
        <BlogLink slug={post.slug} title={post.data.title} />

      </li>
    ))
  }
</ul>