---

export interface Props {
  slug: string;
	title: string;
}

const { slug, title } = Astro.props;
---
<style>
  .blog-link {
    
  }
</style>
<a transition:name={`blog-title${title}`} class="blog-link text-lg" href={`/blog/${slug}/`}>{title}</a>