---
import { SITE_TITLE } from '../consts';
import ToggleTheme from './ToggleTheme.astro';
---
<style>
	.header :global(a){
		cursor: pointer;
    text-decoration: none;
    color: var(--c-text-primary);
    transition: opacity .2s ease;
    opacity: .6;
    outline: none;
	}

	.header :global(a):hover {
		opacity: 1;
	}
</style>
<header class="header">
	<h2 class="text-title w10 h10 absolute lg:fixed m-6 select-none outline-none">
		{SITE_TITLE}
	</h2>
	<nav class="p-2rem flex justify-end">
		<a href="/rss.xml" target="_blank" title="RSS" class="i-carbon-rss"></a>
		<ToggleTheme />
	</nav>
	
</header>

