---
import ToggleTheme from './ToggleTheme.astro';
---
<style>
	nav :global(a){
		cursor: pointer;
    text-decoration: none;
    color: var(--c-text-primary);
    transition: opacity .2s ease;
    opacity: .6;
    outline: none;
	}

	nav :global(a):hover {
		opacity: 1;
	}
</style>
<header class="header">
	<h2 class="w10 h10 absolute lg:fixed m-6 select-none outline-none text-hex-3C5145 dark:text-hex-BAC1B9">
		<a href='/' class="i-custom:site-logo text-2rem"></a>
	</h2>
	<nav class="p-2rem flex justify-end gap-5">
		<a href="https://github.com/szqingt" target="_blank" title="github" class="i-carbon-logo-github"></a>
		<a href="/rss.xml" target="_blank" title="RSS" class="i-carbon-rss"></a>
		<ToggleTheme />
	</nav>
	
</header>

