---
import type { MarkdownHeading } from 'astro';

export interface Props {
  headings: MarkdownHeading[];
  title: string;
}

const { headings, title } = Astro.props;

function depthClass(depth: number) {
	const classList = ['', '', 'ml-2', 'ml-4', 'ml-6', 'ml-8', 'ml-10'];
	return classList[depth] || 'ml-10'
}
---
<>
  <a class="font-semibold text-5" href={`#${title}`}>Table of Contents</a>
  <ul class="mt-4 text-xs">
    {headings.map(({ depth, slug, text }) => (
      <li class="line-clamp-2 mt-3">
        <a
          class={`${
            depthClass(depth)
          }`}
          href={`#${slug}`}
          aria-label={`Scroll to section: ${text}`}
        >
          {text}
        </a>
      </li>
    ))}
  </ul>
</>